@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-UltraLight.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-UltraLightItalic.otf);
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-Thin.otf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-ThinItalic.otf);
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-Light.otf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-LightItalic.otf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-Italic.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-SemiBold.otf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-SemiBoldItalic.otf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-Bold.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-BoldItalic.otf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-Heavy.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-HeavyItalic.otf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-Black.otf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Aileron';
  src: url(../src/assets/fonts/aileron/Aileron-BlackItalic.otf);
  font-style: italic;
  font-weight: 800;
}

html,
body {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #1b1b1b;
  color: #f5f0f0;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aileron', sans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: hsl(268deg, 23%, 75%); /* WebKit/Blink Browsers */
  color: #1b1b1b;
}

::-moz-selection {
  background: hsl(268deg, 23%, 75%); /* Gecko Browsers */
  color: #1b1b1b;
}

hr {
  height: 3px;
  background: #8f6453;
  margin: 0;
  border: none;
  border-radius: 5px;
}

input.accordion-i {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
input.accordion-i:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* Slider Styles - START */
[class^='number-slide'],
[class*=' number-slide'] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #f5f0f0;
  font-weight: 500;
  height: 500px;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: rgba(245, 240, 240, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #f5f0f0;
}

.arrow {
  width: calc(2.5 * 32px);
  height: calc(2.5 * 18px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #f5f0f0;
  cursor: pointer;
}

.arrow--left {
  left: -25px;
}

.arrow--right {
  left: auto;
  right: -25px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
/* Slider Styles - END */
